In [1]:
import pandas as pd

In [2]:
df2018 = pd.read_csv("Data/sportsref_download2017-18.csv")
df2018.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,James Harden,28,HOU,86,965,1010,0.955,72,35.4,...,5.4,8.8,1.8,0.7,0.449,0.367,0.858,15.4,0.289,2017-18
1,2,LeBron James,33,CLE,15,738,1010,0.731,82,36.9,...,8.6,9.1,1.4,0.9,0.542,0.367,0.731,14.0,0.221,2017-18
2,3,Anthony Davis,24,NOP,0,445,1010,0.441,75,36.4,...,11.1,2.3,1.5,2.6,0.534,0.340,0.828,13.7,0.241,2017-18
3,4,Damian Lillard,27,POR,0,207,1010,0.205,73,36.6,...,4.5,6.6,1.1,0.4,0.439,0.361,0.916,12.6,0.227,2017-18
4,5,Russell Westbrook,29,OKC,0,76,1010,0.075,80,36.4,...,10.1,10.3,1.8,0.3,0.449,0.298,0.737,10.1,0.166,2017-18

In [3]:
# new_header = df2018.iloc[0]
# df2018 = df2018[1:]
# df2018.columns = new_header

In [4]:
df2018

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,James Harden,28,HOU,86,965,1010,0.955,72,35.4,...,5.4,8.8,1.8,0.7,0.449,0.367,0.858,15.4,0.289,2017-18
1,2,LeBron James,33,CLE,15,738,1010,0.731,82,36.9,...,8.6,9.1,1.4,0.9,0.542,0.367,0.731,14.0,0.221,2017-18
2,3,Anthony Davis,24,NOP,0,445,1010,0.441,75,36.4,...,11.1,2.3,1.5,2.6,0.534,0.340,0.828,13.7,0.241,2017-18
3,4,Damian Lillard,27,POR,0,207,1010,0.205,73,36.6,...,4.5,6.6,1.1,0.4,0.439,0.361,0.916,12.6,0.227,2017-18
4,5,Russell Westbrook,29,OKC,0,76,1010,0.075,80,36.4,...,10.1,10.3,1.8,0.3,0.449,0.298,0.737,10.1,0.166,2017-18
5,6,Giannis Antetokounmpo,23,MIL,0,75,1010,0.074,75,36.7,...,10.0,4.8,1.5,1.4,0.529,0.307,0.760,11.9,0.207,2017-18
6,7,Kevin Durant,29,GSW,0,66,1010,0.065,68,34.2,...,6.8,5.4,0.7,1.8,0.516,0.419,0.889,10.4,0.215,2017-18
7,8,DeMar DeRozan,28,TOR,0,32,1010,0.032,80,33.9,...,3.9,5.2,1.1,0.3,0.456,0.310,0.825,9.6,0.170,2017-18
8,9,LaMarcus Aldridge,32,SAS,0,6,1010,0.006,75,33.5,...,8.5,2.0,0.6,1.2,0.510,0.293,0.837,10.9,0.209,2017-18
9,10T,Jimmy Butler,28,MIN,0,5,1010,0.005,59,36.7,...,5.3,4.9,2.0,0.4,0.474,0.350,0.854,8.9,0.198,2017-18
10,10T,Stephen Curry,29,GSW,0,5,1010,0.005,51,32.0,...,5.1,6.1,1.6,0.2,0.495,0.423,0.921,9.1,0.267,2017-18
11,12,Joel Embiid,23,PHI,0,4,1010,0.004,63,30.3,...,11.0,3.2,0.6,1.8,0.483,0.308,0.769,6.2,0.155,2017-18
12,13,Victor Oladipo,25,IND,0,2,1010,0.002,75,34.0,...,5.2,4.3,2.4,0.8,0.477,0.371,0.799,8.2,0.155,2017-18

In [5]:
df2019 = pd.read_csv("Data/sportsref_download2018-19.csv")
df2019.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Giannis Antetokounmpo,24,MIL,78,941,1010,0.932,72,32.8,...,12.5,5.9,1.3,1.5,0.578,0.256,0.729,14.4,0.292,2018-19
1,2,James Harden,29,HOU,23,776,1010,0.768,78,36.8,...,6.6,7.5,2.0,0.7,0.442,0.368,0.879,15.2,0.254,2018-19
2,3,Paul George,28,OKC,0,356,1010,0.352,77,36.9,...,8.2,4.1,2.2,0.4,0.438,0.386,0.839,11.9,0.201,2018-19
3,4,Nikola JokiÅ½?,23,DEN,0,212,1010,0.210,80,31.3,...,10.8,7.3,1.4,0.7,0.511,0.307,0.821,11.8,0.226,2018-19
4,5,Stephen Curry,30,GSW,0,175,1010,0.173,69,33.8,...,5.3,5.2,1.3,0.4,0.472,0.437,0.916,9.7,0.199,2018-19

In [6]:
# new_header2019 = df2019.iloc[0]
# df2019 = df2019[1:]
# df2019.columns = new_header2019

In [7]:
df2017 = pd.read_csv("Data/sportsref_download2016-17.csv")
df2017.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Russell Westbrook,28,OKC,69,888,1010,0.879,81,34.6,...,10.7,10.4,1.6,0.4,0.425,0.343,0.845,13.1,0.224,2016-17
1,2,James Harden,27,HOU,22,753,1010,0.746,81,36.4,...,8.1,11.2,1.5,0.5,0.440,0.347,0.847,15.0,0.245,2016-17
2,3,Kawhi Leonard,25,SAS,9,500,1010,0.495,74,33.4,...,5.8,3.5,1.8,0.7,0.485,0.380,0.880,13.6,0.264,2016-17
3,4,LeBron James,32,CLE,1,333,1010,0.330,74,37.8,...,8.6,8.7,1.2,0.6,0.548,0.363,0.674,12.9,0.221,2016-17
4,5,Isaiah Thomas,27,BOS,0,81,1010,0.080,76,33.8,...,2.7,5.9,0.9,0.2,0.463,0.379,0.909,12.5,0.234,2016-17

In [8]:
# new_header2017 = df2017.iloc[0]
# df2017 = df2017[1:]
# df2017.columns = new_header2017

In [9]:
df2017

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Russell Westbrook,28,OKC,69,888,1010,0.879,81,34.6,...,10.7,10.4,1.6,0.4,0.425,0.343,0.845,13.1,0.224,2016-17
1,2,James Harden,27,HOU,22,753,1010,0.746,81,36.4,...,8.1,11.2,1.5,0.5,0.440,0.347,0.847,15.0,0.245,2016-17
2,3,Kawhi Leonard,25,SAS,9,500,1010,0.495,74,33.4,...,5.8,3.5,1.8,0.7,0.485,0.380,0.880,13.6,0.264,2016-17
3,4,LeBron James,32,CLE,1,333,1010,0.330,74,37.8,...,8.6,8.7,1.2,0.6,0.548,0.363,0.674,12.9,0.221,2016-17
4,5,Isaiah Thomas,27,BOS,0,81,1010,0.080,76,33.8,...,2.7,5.9,0.9,0.2,0.463,0.379,0.909,12.5,0.234,2016-17
5,6,Stephen Curry,28,GSW,0,52,1010,0.051,79,33.4,...,4.5,6.6,1.8,0.2,0.468,0.411,0.898,12.6,0.229,2016-17
6,7T,Giannis Antetokounmpo,22,MIL,0,7,1010,0.007,80,35.6,...,8.8,5.4,1.6,1.9,0.521,0.272,0.770,12.4,0.210,2016-17
7,7T,John Wall,26,WAS,0,7,1010,0.007,78,36.4,...,4.2,10.7,2.0,0.6,0.451,0.327,0.801,8.8,0.149,2016-17
8,9T,Anthony Davis,23,NOP,0,2,1010,0.002,75,36.1,...,11.8,2.1,1.3,2.2,0.505,0.299,0.802,11.0,0.195,2016-17
9,9T,Kevin Durant,28,GSW,0,2,1010,0.002,62,33.4,...,8.3,4.8,1.1,1.6,0.537,0.375,0.875,12.0,0.278,2016-17
10,11,DeMar DeRozan,27,TOR,0,1,1010,0.001,74,35.4,...,5.2,3.9,1.1,0.2,0.467,0.266,0.842,9.0,0.166,2016-17

In [10]:
df2016 = pd.read_csv("Data/sportsref_download2015-16.csv")
df2016.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Stephen Curry,27,GSW,131,1310,1310,1.000,79,34.2,...,5.4,6.7,2.1,0.2,0.504,0.454,0.908,17.9,0.318,2015-16
1,2,Kawhi Leonard,24,SAS,0,634,1310,0.484,72,33.1,...,6.8,2.6,1.8,1.0,0.506,0.443,0.874,13.7,0.277,2015-16
2,3,LeBron James,31,CLE,0,631,1310,0.482,76,35.6,...,7.4,6.8,1.4,0.6,0.520,0.309,0.731,13.6,0.242,2015-16
3,4,Russell Westbrook,27,OKC,0,486,1310,0.371,80,34.4,...,7.8,10.4,2.0,0.3,0.454,0.296,0.812,14.0,0.245,2015-16
4,5,Kevin Durant,27,OKC,0,147,1310,0.112,72,35.8,...,8.2,5.0,1.0,1.2,0.505,0.387,0.898,14.5,0.270,2015-16

In [11]:
# new_header2016 = df2016.iloc[0]
# df2016 = df2016[1:]
# df2016.columns = new_header2016

In [12]:
df2016.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Stephen Curry,27,GSW,131,1310,1310,1.000,79,34.2,...,5.4,6.7,2.1,0.2,0.504,0.454,0.908,17.9,0.318,2015-16
1,2,Kawhi Leonard,24,SAS,0,634,1310,0.484,72,33.1,...,6.8,2.6,1.8,1.0,0.506,0.443,0.874,13.7,0.277,2015-16
2,3,LeBron James,31,CLE,0,631,1310,0.482,76,35.6,...,7.4,6.8,1.4,0.6,0.520,0.309,0.731,13.6,0.242,2015-16
3,4,Russell Westbrook,27,OKC,0,486,1310,0.371,80,34.4,...,7.8,10.4,2.0,0.3,0.454,0.296,0.812,14.0,0.245,2015-16
4,5,Kevin Durant,27,OKC,0,147,1310,0.112,72,35.8,...,8.2,5.0,1.0,1.2,0.505,0.387,0.898,14.5,0.270,2015-16

In [13]:
df2015 = pd.read_csv("Data/sportsref_download2014-15.csv")
df2015.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Stephen Curry,26,GSW,100,1198,1300,0.922,80,32.7,...,4.3,7.7,2.0,0.2,0.487,0.443,0.914,15.7,0.288,2014-15
1,2,James Harden,25,HOU,25,936,1300,0.720,81,36.8,...,5.7,7.0,1.9,0.7,0.440,0.375,0.868,16.4,0.265,2014-15
2,3,LeBron James,30,CLE,5,552,1300,0.425,69,36.1,...,6.0,7.4,1.6,0.7,0.488,0.354,0.710,10.4,0.199,2014-15
3,4,Russell Westbrook,26,OKC,0,352,1300,0.271,67,34.4,...,7.3,8.6,2.1,0.2,0.426,0.299,0.835,10.6,0.222,2014-15
4,5,Anthony Davis,21,NOP,0,203,1300,0.156,68,36.1,...,10.2,2.2,1.5,2.9,0.535,0.083,0.805,14.0,0.274,2014-15

In [14]:
# new_header2015 = df2015.iloc[0]
# df2015 = df2015[1:]
# df2015.columns = new_header2015
# df2015.head()

In [15]:
df2014 = pd.read_csv("Data/sportsref_download2013-14.csv")
df2014.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Kevin Durant,25,OKC,119,1232,1250,0.986,81,38.5,...,7.4,5.5,1.3,0.7,0.503,0.391,0.873,19.2,0.295,2013-14
1,2,LeBron James,29,MIA,6,891,1250,0.713,77,37.7,...,6.9,6.3,1.6,0.3,0.567,0.379,0.750,15.9,0.264,2013-14
2,3,Blake Griffin,24,LAC,0,434,1250,0.347,80,35.8,...,9.5,3.9,1.2,0.6,0.528,0.273,0.715,12.2,0.205,2013-14
3,4,Joakim Noah,28,CHI,0,322,1250,0.258,80,35.3,...,11.3,5.4,1.2,1.5,0.475,0.000,0.737,11.2,0.190,2013-14
4,5,James Harden,24,HOU,0,85,1250,0.068,73,38.0,...,4.7,6.1,1.6,0.4,0.456,0.366,0.866,12.8,0.221,2013-14

In [16]:
# new_header2014 = df2014.iloc[0]
# df2014 = df2014[1:]
# df2014.columns = new_header2014
# df2014.head()

In [17]:
df2013 = pd.read_csv("Data/sportsref_download2012-13.csv")
df2013.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,LeBron James,28,MIA,120,1207,1210,0.998,76,37.9,...,8.0,7.3,1.7,0.9,0.565,0.406,0.753,19.3,0.322,2012-13
1,2,Kevin Durant,24,OKC,0,765,1210,0.632,81,38.5,...,7.9,4.6,1.4,1.3,0.510,0.416,0.905,18.9,0.291,2012-13
2,3,Carmelo Anthony,28,NYK,1,475,1210,0.393,67,37.0,...,6.9,2.6,0.8,0.5,0.449,0.379,0.830,9.5,0.184,2012-13
3,4,Chris Paul,27,LAC,0,289,1210,0.239,70,33.4,...,3.7,9.7,2.4,0.1,0.481,0.328,0.885,13.9,0.287,2012-13
4,5,Kobe Bryant,34,LAL,0,184,1210,0.152,78,38.6,...,5.6,6.0,1.4,0.3,0.463,0.324,0.839,10.9,0.174,2012-13

In [18]:
# new_header2013 = df2013.iloc[0]
# df2013 = df2013[1:]
# df2013.columns = new_header2013
# df2013.head()

In [19]:
df2012 = pd.read_csv("Data/sportsref_download2011-12.csv")
df2012.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,LeBron James,27,MIA,85,1074,1210,0.888,62,37.5,...,7.9,6.2,1.9,0.8,0.531,0.362,0.771,14.5,0.298,2011-12
1,2,Kevin Durant,23,OKC,24,889,1210,0.735,66,38.6,...,8.0,3.5,1.3,1.2,0.496,0.387,0.860,12.2,0.230,2011-12
2,3,Chris Paul,26,LAC,6,385,1210,0.318,60,36.4,...,3.6,9.1,2.5,0.1,0.478,0.371,0.861,12.7,0.278,2011-12
3,4,Kobe Bryant,33,LAL,2,352,1210,0.291,58,38.5,...,5.4,4.6,1.2,0.3,0.430,0.303,0.845,6.2,0.132,2011-12
4,5,Tony Parker,29,SAS,4,331,1210,0.274,60,32.1,...,2.9,7.7,1.0,0.1,0.480,0.230,0.799,7.1,0.177,2011-12

In [20]:
# new_header2012 = df2012.iloc[0]
# df2012 = df2012[1:]
# df2012.columns = new_header2012
# df2012.head()

In [21]:
df2011 = pd.read_csv("Data/sportsref_download2010-11.csv")
df2011.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Derrick Rose,22,CHI,113,1182,1210,0.977,81,37.4,...,4.1,7.7,1.0,0.6,0.445,0.332,0.858,13.1,0.208,2010-11
1,2,Dwight Howard,25,ORL,3,643,1210,0.531,78,37.6,...,14.1,1.4,1.4,2.4,0.593,0.000,0.596,14.4,0.235,2010-11
2,3,LeBron James,26,MIA,4,522,1210,0.431,79,38.8,...,7.5,7.0,1.6,0.6,0.510,0.330,0.759,15.6,0.244,2010-11
3,4,Kobe Bryant,32,LAL,1,428,1210,0.354,82,33.9,...,5.1,4.7,1.2,0.1,0.451,0.323,0.828,10.3,0.178,2010-11
4,5,Kevin Durant,22,OKC,0,190,1210,0.157,78,38.9,...,6.8,2.7,1.1,1.0,0.462,0.350,0.880,12.0,0.189,2010-11

In [22]:
# new_header2011 = df2011.iloc[0]
# df2011 = df2011[1:]
# df2011.columns = new_header2011
# df2011.head()

In [23]:
df2010 = pd.read_csv("Data/sportsref_download2009-10.csv")
df2010.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,LeBron James,25,CLE,116,1205,1230,0.980,76,39.0,...,7.3,8.6,1.6,1.0,0.503,0.333,0.767,18.5,0.299,2009-10
1,2,Kevin Durant,21,OKC,4,609,1230,0.495,82,39.5,...,7.6,2.8,1.4,1.0,0.476,0.365,0.900,16.1,0.238,2009-10
2,3,Kobe Bryant,31,LAL,0,599,1230,0.487,73,38.8,...,5.4,5.0,1.5,0.3,0.456,0.329,0.811,9.4,0.160,2009-10
3,4,Dwight Howard,24,ORL,3,478,1230,0.389,82,34.7,...,13.2,1.8,0.9,2.8,0.612,0.000,0.592,13.2,0.223,2009-10
4,5,Dwyane Wade,28,MIA,0,119,1230,0.097,77,36.3,...,4.8,6.5,1.8,1.1,0.476,0.300,0.761,13.0,0.224,2009-10

In [24]:
# new_header2010 = df2010.iloc[0]
# df2010 = df2010[1:]
# df2010.columns = new_header2010
# df2010.head()

In [25]:
df2009 = pd.read_csv("Data/sportsref_download2008-09.csv")
df2009.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,LeBron James,24,CLE,109,1172,1210,0.969,81,37.7,...,7.6,7.2,1.7,1.1,0.489,0.344,0.780,20.3,0.318,2008-09
1,2,Kobe Bryant,30,LAL,2,698,1210,0.577,82,36.1,...,5.2,4.9,1.5,0.5,0.467,0.351,0.856,12.7,0.206,2008-09
2,3,Dwyane Wade,27,MIA,7,680,1210,0.562,79,38.6,...,5.0,7.5,2.2,1.3,0.491,0.317,0.765,14.7,0.232,2008-09
3,4,Dwight Howard,23,ORL,1,328,1210,0.271,79,35.7,...,13.8,1.4,1.0,2.9,0.572,0.000,0.594,13.8,0.234,2008-09
4,5,Chris Paul,23,NOH,2,192,1210,0.159,78,38.5,...,5.5,11.0,2.8,0.1,0.503,0.364,0.868,18.3,0.292,2008-09

In [26]:
# new_header2009 = df2009.iloc[0]
# df2009 = df2009[1:]
# df2009.columns = new_header2009
# df2009.head()

In [27]:
df2008 = pd.read_csv("Data/sportsref_download2007-08.csv")
df2008.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Kobe Bryant,29,LAL,82,1100,1260,0.873,82,38.9,...,6.3,5.4,1.8,0.5,0.459,0.361,0.840,13.8,0.208,2007-2008
1,2,Chris Paul,22,NOH,28,894,1260,0.710,80,37.6,...,4.0,11.6,2.7,0.1,0.488,0.369,0.851,17.8,0.284,2007-2008
2,3,Kevin Garnett,31,BOS,15,670,1260,0.532,71,32.8,...,9.2,3.4,1.4,1.3,0.539,0.000,0.801,12.9,0.265,2007-2008
3,4,LeBron James,23,CLE,1,438,1260,0.348,75,40.4,...,7.9,7.2,1.8,1.1,0.484,0.315,0.712,15.2,0.242,2007-2008
4,5,Dwight Howard,22,ORL,0,60,1260,0.048,82,37.7,...,14.2,1.3,0.9,2.1,0.599,0.000,0.590,12.9,0.200,2007-2008

In [28]:
df2007 = pd.read_csv("Data/sportsref_download2006-07.csv")
df2007.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Dirk Nowitzki,28,DAL,83,1138,1290,0.882,78,36.2,...,8.9,3.4,0.7,0.8,0.502,0.416,0.904,16.3,0.278,2006-07
1,2,Steve Nash,32,PHO,44,1013,1290,0.785,76,35.3,...,3.5,11.6,0.8,0.1,0.532,0.455,0.899,12.6,0.225,2006-07
2,3,Kobe Bryant,28,LAL,2,521,1290,0.404,77,40.8,...,5.7,5.4,1.4,0.5,0.463,0.344,0.868,13.0,0.199,2006-07
3,4,Tim Duncan,30,SAS,0,286,1290,0.222,80,34.1,...,10.6,3.4,0.8,2.4,0.546,0.111,0.637,13.0,0.230,2006-07
4,5,LeBron James,22,CLE,0,183,1290,0.142,78,40.9,...,6.7,6.0,1.6,0.7,0.476,0.319,0.698,13.7,0.206,2006-07

In [29]:
# new_header2007 = df2007.iloc[0]
# df2007 = df2007[1:]
# df2007.columns = new_header2007
# df2007.head()

In [30]:
df2006 = pd.read_csv("Data/sportsref_download2005-06.csv")
df2006.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Steve Nash,31,PHO,57,924,1250,0.739,79,35.4,...,4.2,10.5,0.8,0.2,0.512,0.439,0.921,12.4,0.212,2005-06
1,2,LeBron James,21,CLE,16,688,1250,0.550,79,42.5,...,7.0,6.6,1.6,0.8,0.480,0.335,0.738,16.3,0.232,2005-06
2,3,Dirk Nowitzki,27,DAL,14,544,1250,0.435,81,38.1,...,9.0,2.8,0.7,1.0,0.480,0.406,0.901,17.7,0.275,2005-06
3,4,Kobe Bryant,27,LAL,22,483,1250,0.386,80,41.0,...,5.3,4.5,1.8,0.4,0.450,0.347,0.850,15.3,0.224,2005-06
4,5,Chauncey Billups,29,DET,15,430,1250,0.344,81,36.1,...,3.1,8.6,0.9,0.1,0.418,0.433,0.894,15.5,0.254,2005-06

In [31]:
# new_header2006 = df2006.iloc[0]
# df2006 = df2006[1:]
# df2006.columns = new_header2006
# df2006.head()

In [32]:
df2005 = pd.read_csv("Data/sportsref_download2004-05.csv")
df2005.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Steve Nash,30,PHO,65,1066,1270,0.839,75,34.3,...,3.3,11.5,1.0,0.1,0.502,0.431,0.887,10.9,0.203,2004-05
1,2,Shaquille O'Neal,32,MIA,58,1032,1270,0.813,73,34.1,...,10.4,2.7,0.5,2.3,0.601,NaN,0.461,11.0,0.211,2004-05
2,3,Dirk Nowitzki,26,DAL,0,349,1270,0.275,78,38.7,...,9.7,3.1,1.2,1.5,0.459,0.399,0.869,15.6,0.248,2004-05
3,4,Tim Duncan,28,SAS,1,328,1270,0.258,66,33.4,...,11.1,2.7,0.7,2.6,0.496,0.333,0.670,11.2,0.245,2004-05
4,5,Allen Iverson,29,PHI,2,240,1270,0.189,75,42.3,...,4.0,7.9,2.4,0.1,0.424,0.308,0.835,9.0,0.136,2004-05

In [33]:
# new_header2005 = df2005.iloc[0]
# df2005 = df2005[1:]
# df2005.columns = new_header2005
# df2005.head()

In [34]:
df2004 = pd.read_csv("Data/sportsref_download2003-04.csv")
df2004.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Kevin Garnett,27,MIN,120,1219,1230,0.991,82,39.4,...,13.9,5.0,1.5,2.2,0.499,0.256,0.791,18.3,0.272,2003-04
1,2,Tim Duncan,27,SAS,0,716,1230,0.582,69,36.6,...,12.4,3.1,0.9,2.7,0.501,0.167,0.599,13.1,0.249,2003-04
2,3,Jermaine O'Neal,25,IND,2,523,1230,0.425,78,35.7,...,10.0,2.1,0.8,2.6,0.434,0.111,0.757,9.0,0.155,2003-04
3,4,Peja Stojakovi?,26,SAC,1,281,1230,0.228,81,40.3,...,6.3,2.1,1.3,0.2,0.480,0.433,0.927,13.5,0.198,2003-04
4,5,Kobe Bryant,25,LAL,0,212,1230,0.172,65,37.6,...,5.5,5.1,1.7,0.4,0.438,0.327,0.852,10.7,0.210,2003-04

In [35]:
# new_header2004 = df2004.iloc[0]
# df2004 = df2004[1:]
# df2004.columns = new_header2004
# df2004.head()

In [36]:
df2003 = pd.read_csv("Data/sportsref_download2002-03.csv")
df2003.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Tim Duncan,26,SAS,60,962,1190,0.808,81,39.3,...,12.9,3.9,0.7,2.9,0.513,0.273,0.710,16.5,0.248,2002-03
1,2,Kevin Garnett,26,MIN,43,871,1190,0.732,82,40.5,...,13.4,6.0,1.4,1.6,0.502,0.282,0.751,15.6,0.225,2002-03
2,3,Kobe Bryant,24,LAL,8,496,1190,0.417,82,41.5,...,6.9,5.9,2.2,0.8,0.451,0.383,0.843,14.9,0.210,2002-03
3,4,Tracy McGrady,23,ORL,4,427,1190,0.359,75,39.4,...,6.5,5.5,1.7,0.8,0.457,0.386,0.793,16.1,0.262,2002-03
4,5,Shaquille O'Neal,30,LAL,3,126,1190,0.106,67,37.8,...,11.1,3.1,0.6,2.4,0.574,NaN,0.622,13.2,0.250,2002-03

In [37]:
# new_header2003 = df2003.iloc[0]
# df2003 = df2003[1:]
# df2003.columns = new_header2003
# df2003.head()

In [38]:
df2002 = pd.read_csv("Data/sportsref_download2001-02.csv")
df2002.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Tim Duncan,25,SAS,57,954,1260,0.757,82,40.6,...,12.7,3.7,0.7,2.5,0.508,0.100,0.799,17.8,0.257,2001-02
1,2,Jason Kidd,28,NJN,45,897,1260,0.712,82,37.3,...,7.3,9.9,2.1,0.2,0.391,0.321,0.814,8.9,0.140,2001-02
2,3,Shaquille O'Neal,29,LAL,15,696,1260,0.552,67,36.1,...,10.7,3.0,0.6,2.0,0.579,0.000,0.555,13.2,0.262,2001-02
3,4,Tracy McGrady,22,ORL,7,390,1260,0.310,76,38.3,...,7.9,5.3,1.6,1.0,0.451,0.364,0.748,11.5,0.189,2001-02
4,5,Kobe Bryant,23,LAL,1,98,1260,0.078,80,38.3,...,5.5,5.5,1.5,0.4,0.469,0.250,0.829,12.7,0.199,2001-02

In [39]:
# new_header2002 = df2002.iloc[0]
# df2002 = df2002[1:]
# df2002.columns = new_header2002
# df2002.head()

In [40]:
df2001 = pd.read_csv("Data/sportsref_download2000-01.csv")
df2001.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Allen Iverson,25,PHI,93,1121,1240,0.904,71,42.0,...,3.8,4.6,2.5,0.3,0.420,0.320,0.814,11.8,0.190,2000-01
1,2,Tim Duncan,24,SAS,18,706,1240,0.569,82,38.7,...,12.2,3.0,0.9,2.3,0.499,0.259,0.618,13.2,0.200,2000-01
2,3,Shaquille O'Neal,28,LAL,7,578,1240,0.466,74,39.5,...,12.7,3.7,0.6,2.8,0.572,0.000,0.513,14.9,0.245,2000-01
3,4,Chris Webber,27,SAC,5,521,1240,0.420,70,40.5,...,11.1,4.2,1.3,1.7,0.481,0.071,0.703,11.0,0.186,2000-01
4,5,Kevin Garnett,24,MIN,1,151,1240,0.122,81,39.5,...,11.4,5.0,1.4,1.8,0.477,0.288,0.764,11.8,0.176,2000-01

In [41]:
# new_header2001 = df2001.iloc[0]
# df2001 = df2001[1:]
# df2001.columns = new_header2001
# df2001.head()

In [42]:
df2000 = pd.read_csv("Data/sportsref_download1999-00.csv")
df2000.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Shaquille O'Neal,27,LAL,120,1207,1210,0.998,79,40.0,...,13.6,3.8,0.5,3.0,0.574,0.000,0.524,18.6,0.283,1999-00
1,2,Kevin Garnett,23,MIN,0,408,1210,0.337,81,40.0,...,11.8,5.0,1.5,1.6,0.497,0.370,0.765,11.6,0.172,1999-00
2,3,Alonzo Mourning,29,MIA,0,367,1210,0.303,79,34.8,...,9.5,1.6,0.5,3.7,0.551,0.000,0.711,12.9,0.226,1999-00
3,4,Karl Malone,36,UTA,0,312,1210,0.258,82,35.9,...,9.5,3.7,1.0,0.9,0.509,0.250,0.797,15.3,0.249,1999-00
4,5,Tim Duncan,23,SAS,0,248,1210,0.205,74,38.9,...,12.4,3.2,0.9,2.2,0.490,0.091,0.761,13.0,0.218,1999-00

In [43]:
# new_header2000 = df2000.iloc[0]
# df2000 = df2000[1:]
# df2000.columns = new_header2000
# df2000.head()

In [44]:
df1999 = pd.read_csv("Data/sportsref_download1998-99.csv")
df1999.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Karl Malone,35,UTA,44,827,1180,0.701,49,37.4,...,9.4,4.1,1.3,0.6,0.493,0.000,0.788,9.6,0.252,1998-99
1,2,Alonzo Mourning,28,MIA,36,773,1180,0.655,46,38.1,...,11.0,1.6,0.7,3.9,0.511,0.000,0.652,7.9,0.216,1998-99
2,3,Tim Duncan,22,SAS,30,740,1180,0.627,50,39.3,...,11.4,2.4,0.9,2.5,0.495,0.143,0.690,8.7,0.213,1998-99
3,4,Allen Iverson,23,PHI,5,319,1180,0.270,48,41.5,...,4.9,4.6,2.3,0.1,0.412,0.291,0.751,7.2,0.173,1998-99
4,5,Jason Kidd,25,PHO,2,159,1180,0.135,50,41.2,...,6.8,10.8,2.3,0.4,0.444,0.366,0.757,8.1,0.188,1998-99

In [45]:
# new_header1999 = df1999.iloc[0]
# df1999 = df1999[1:]
# df1999.columns = new_header1999
# df1999.head()

In [46]:
df1998 = pd.read_csv("Data/sportsref_download1997-98.csv")
df1998.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Michael Jordan,34,CHI,92,1084,1160,0.934,82,38.8,...,5.8,3.5,1.7,0.5,0.465,0.238,0.784,15.8,0.238,1997-98
1,2,Karl Malone,34,UTA,20,842,1160,0.726,81,37.4,...,10.3,3.9,1.2,0.9,0.530,0.333,0.761,16.4,0.259,1997-98
2,3,Gary Payton,29,SEA,3,431,1160,0.372,82,38.4,...,4.6,8.3,2.3,0.2,0.453,0.338,0.744,12.5,0.190,1997-98
3,4,Shaquille O'Neal,25,LAL,1,311,1160,0.268,60,36.3,...,11.4,2.4,0.7,2.4,0.584,NaN,0.527,10.2,0.224,1997-98
4,5,Tim Duncan,21,SAS,0,148,1160,0.128,82,39.1,...,11.9,2.7,0.7,2.5,0.549,0.000,0.662,12.8,0.192,1997-98

In [47]:
# new_header1998 = df1998.iloc[0]
# df1998 = df1998[1:]
# df1998.columns = new_header1998
# df1998.head()

In [48]:
df1997 = pd.read_csv("Data/sportsref_download1996-97.csv")
df1997.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Karl Malone,33,UTA,63,986,1150,0.857,82,36.6,...,9.9,4.5,1.4,0.6,0.550,0.000,0.755,16.7,0.268,1996-97
1,2,Michael Jordan,33,CHI,52,957,1150,0.832,82,37.9,...,5.9,4.3,1.7,0.5,0.486,0.374,0.833,18.3,0.283,1996-97
2,3,Grant Hill,24,DET,0,376,1150,0.327,80,39.3,...,9.0,7.3,1.8,0.6,0.496,0.303,0.711,14.6,0.223,1996-97
3,4,Tim Hardaway,30,MIA,0,238,1150,0.207,81,38.7,...,3.4,8.6,1.9,0.1,0.415,0.344,0.799,12.9,0.198,1996-97
4,5,Glen Rice,29,CHH,0,134,1150,0.117,79,42.6,...,4.0,2.0,0.9,0.3,0.477,0.470,0.867,10.8,0.154,1996-97

In [49]:
# new_header1997 = df1997.iloc[0]
# df1997 = df1997[1:]
# df1997.columns = new_header1997
# df1997.head()

In [50]:
df1996 = pd.read_csv("Data/sportsref_download1995-96.csv")
df1996.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Michael Jordan,32,CHI,109,1114,1130,0.986,82,37.7,...,6.6,4.3,2.2,0.5,0.495,0.427,0.834,20.4,0.317,1995-96
1,2,David Robinson,30,SAS,0,574,1130,0.508,82,36.8,...,12.2,3.0,1.4,3.3,0.516,0.333,0.761,18.3,0.290,1995-96
2,3,Anfernee Hardaway,24,ORL,2,360,1130,0.319,82,36.8,...,4.3,7.1,2.0,0.5,0.513,0.314,0.767,14.4,0.229,1995-96
3,4,Hakeem Olajuwon,33,HOU,1,238,1130,0.211,72,38.8,...,10.9,3.6,1.6,2.9,0.514,0.214,0.724,9.7,0.166,1995-96
4,5,Scottie Pippen,30,CHI,0,226,1130,0.200,77,36.7,...,6.4,5.9,1.7,0.7,0.463,0.374,0.679,12.3,0.209,1995-96

In [51]:
# new_header1996 = df1996.iloc[0]
# df1996 = df1996[1:]
# df1996.columns = new_header1996
# df1996.head()

In [52]:
df1995 = pd.read_csv("Data/sportsref_download1994-95.csv")
df1995.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,David Robinson,29,SAS,73,901,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1994-95
1,2,Shaquille O'Neal,22,ORL,12,605,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1994-95
2,3,Karl Malone,31,UTA,14,532,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1994-95
3,4,Patrick Ewing,32,NYK,2,230,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1994-95
4,5,Hakeem Olajuwon,32,HOU,1,147,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1994-95

In [53]:
# new_header1995 = df1995.iloc[0]
# df1995 = df1995[1:]
# df1995.columns = new_header1995
# df1995.head()

In [54]:
df1994 = pd.read_csv("Data/sportsref_download1993-94.csv")
df1994.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Hakeem Olajuwon,31,HOU,66,889,1010,0.880,80,41.0,...,11.9,3.6,1.6,3.7,0.528,0.421,0.716,14.3,0.210,1993-94
1,2,David Robinson,28,SAS,24,730,1010,0.723,80,40.5,...,10.7,4.8,1.7,3.3,0.507,0.345,0.749,20.0,0.296,1993-94
2,3,Scottie Pippen,28,CHI,7,390,1010,0.386,72,38.3,...,8.7,5.6,2.9,0.8,0.491,0.320,0.660,11.2,0.194,1993-94
3,4,Shaquille O'Neal,21,ORL,3,289,1010,0.286,81,39.8,...,13.2,2.4,0.9,2.9,0.599,0.000,0.554,16.9,0.252,1993-94
4,5,Patrick Ewing,31,NYK,1,255,1010,0.252,79,37.6,...,11.2,2.3,1.1,2.7,0.496,0.286,0.765,13.1,0.211,1993-94

In [55]:
# new_header1994 = df1994.iloc[0]
# df1994 = df1994[1:]
# df1994.columns = new_header1994
# df1994.head()

In [56]:
df1993 = pd.read_csv("Data/sportsref_download1992-93.csv")
df1993.head()

C:\Users\ricks\AppData\Local\Continuum\anaconda3\envs\PythonAdv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,3,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Charles Barkley,29.0,PHO,59.0,835.0,980.0,0.852,76.0,37.6,...,12.2,5.1,1.6,1.0,0.520,0.305,0.765,14.4,0.242,1992-93
1,2,Hakeem Olajuwon,30.0,HOU,22.0,647.0,980.0,0.660,82.0,39.5,...,13.0,3.5,1.8,4.2,0.529,0.000,0.779,15.8,0.234,1992-93
2,3,Michael Jordan,29.0,CHI,13.0,565.0,980.0,0.577,78.0,39.3,...,6.7,5.5,2.8,0.8,0.495,0.352,0.837,17.2,0.270,1992-93
3,4,Patrick Ewing,30.0,NYK,4.0,359.0,980.0,0.366,81.0,37.1,...,12.1,1.9,0.9,2.0,0.503,0.143,0.719,10.6,0.170,1992-93
4,5,Dominique Wilkins,33.0,ATL,0.0,54.0,980.0,0.055,71.0,37.3,...,6.8,3.2,1.0,0.4,0.468,0.380,0.828,10.5,0.191,1992-93

In [57]:
# new_header1993 = df1993.iloc[0]
# df1993 = df1993[1:]
# df1993.columns = new_header1993
# df1993.head()

In [58]:
df1992 = pd.read_csv("Data/sportsref_download1991-92.csv")
df1992.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Michael Jordan,28,CHI,80,900,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1991-92
1,2,Clyde Drexler,29,POR,12,561,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1991-92
2,3,David Robinson,26,SAS,2,337,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1991-92
3,4,Karl Malone,28,UTA,1,262,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1991-92
4,5,Patrick Ewing,29,NYK,0,100,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1991-92

In [59]:
# new_header1992 = df1992.iloc[0]
# df1992 = df1992[1:]
# df1992.columns = new_header1992
# df1992.head()

In [60]:
df1991 = pd.read_csv("Data/sportsref_download1990-91.csv")
df1991.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1990-91
1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1990-91
2,3,David Robinson,25,SAS,6,476,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1990-91
3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1990-91
4,5,Karl Malone,27,UTA,0,142,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1990-91

In [61]:
# new_header1991 = df1991.iloc[0]
# df1991 = df1991[1:]
# df1991.columns = new_header1991
# df1991.head()

In [62]:
df1990 = pd.read_csv("Data/sportsref_download1989-90.csv")
df1990.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Magic Johnson,30,LAL,27,636,920,0.691,79,37.2,...,6.6,11.5,1.7,0.4,0.480,0.384,0.890,16.5,0.270,1989-90
1,2,Charles Barkley,26,PHI,38,614,920,0.667,79,39.1,...,11.5,3.9,1.9,0.6,0.600,0.217,0.749,17.3,0.269,1989-90
2,3,Michael Jordan,26,CHI,21,564,920,0.613,82,39.0,...,6.9,6.3,2.8,0.7,0.526,0.376,0.848,19.0,0.285,1989-90
3,4,Karl Malone,26,UTA,2,214,920,0.233,82,38.1,...,11.1,2.8,1.5,0.6,0.562,0.372,0.762,15.9,0.245,1989-90
4,5,Patrick Ewing,27,NYK,1,162,920,0.176,82,38.6,...,10.9,2.2,1.0,4.0,0.551,0.250,0.775,13.5,0.205,1989-90

In [63]:
# new_header1990 = df1990.iloc[0]
# df1990 = df1990[1:]
# df1990.columns = new_header1990
# df1990.head()

In [64]:
df1989 = pd.read_csv("Data/sportsref_download1988-89.csv")
df1989.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Magic Johnson,29,LAL,42.5,664.5,850,0.782,77,37.5,...,7.9,12.8,1.8,0.3,0.509,0.314,0.911,16.1,0.267,1988-89
1,2,Michael Jordan,25,CHI,27.5,598.8,850,0.704,81,40.2,...,8.0,8.0,2.9,0.8,0.538,0.276,0.850,19.8,0.292,1988-89
2,3,Karl Malone,25,UTA,5.0,362.0,850,0.426,80,39.1,...,10.7,2.7,1.8,0.9,0.519,0.313,0.766,15.2,0.233,1988-89
3,4,Patrick Ewing,26,NYK,8.0,200.0,850,0.235,80,36.2,...,9.3,2.4,1.5,3.5,0.567,0.000,0.746,10.9,0.181,1988-89
4,5,Hakeem Olajuwon,26,HOU,2.0,179.3,850,0.211,82,36.9,...,13.5,1.8,2.6,3.4,0.508,0.000,0.696,12.4,0.197,1988-89

In [65]:
# new_header1989 = df1989.iloc[0]
# df1989 = df1989[1:]
# df1989.columns = new_header1989
# df1989.head()

In [66]:
df1988 = pd.read_csv("Data/sportsref_download1987-88.csv")
df1988.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Michael Jordan,24,CHI,47,665,800,0.831,82,40.4,...,5.5,5.9,3.2,1.6,0.535,0.132,0.841,21.2,0.308,1987-88
1,2,Larry Bird,31,BOS,16,527,800,0.659,76,39.0,...,9.3,6.1,1.6,0.8,0.527,0.414,0.916,15.0,0.243,1987-88
2,3,Magic Johnson,28,LAL,16,508,800,0.635,72,36.6,...,6.2,11.9,1.6,0.2,0.492,0.196,0.853,10.9,0.199,1987-88
3,4,Charles Barkley,24,PHI,1,109,800,0.136,80,39.6,...,11.9,3.2,1.3,1.3,0.587,0.280,0.751,16.7,0.253,1987-88
4,5,Clyde Drexler,25,POR,0,86,800,0.108,81,37.8,...,6.6,5.8,2.5,0.6,0.506,0.212,0.811,13.2,0.207,1987-88

In [67]:
# new_header1988 = df1988.iloc[0]
# df1988 = df1988[1:]
# df1988.columns = new_header1988
# df1988.head()

In [68]:
df1987 = pd.read_csv("Data/sportsref_download1986-87.csv")
df1987.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Magic Johnson,27,LAL,65,733,780,0.940,80,36.3,...,6.3,12.2,1.7,0.5,0.522,0.205,0.848,15.9,0.263,1986-87
1,2,Michael Jordan,23,CHI,10,449,780,0.576,82,40.0,...,5.2,4.6,2.9,1.5,0.482,0.182,0.857,16.9,0.247,1986-87
2,3,Larry Bird,30,BOS,1,271,780,0.347,74,40.6,...,9.2,7.6,1.8,0.9,0.525,0.400,0.910,15.2,0.243,1986-87
3,4,Kevin McHale,29,BOS,0,254,780,0.326,77,39.7,...,9.9,2.6,0.5,2.2,0.604,0.000,0.836,14.8,0.232,1986-87
4,5,Dominique Wilkins,27,ATL,0,128,780,0.164,79,37.6,...,6.3,3.3,1.5,0.6,0.463,0.292,0.818,12.2,0.197,1986-87

In [69]:
# new_header1987 = df1987.iloc[0]
# df1987 = df1987[1:]
# df1987.columns = new_header1987
# df1987.head()

In [70]:
df1986 = pd.read_csv("Data/sportsref_download1985-86.csv")
df1986.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Larry Bird,29,BOS,73,765,780,0.981,82,38.0,...,9.8,6.8,2.0,0.6,0.496,0.423,0.896,15.8,0.244,1985-86
1,2,Dominique Wilkins,26,ATL,5,407,780,0.522,78,39.1,...,7.9,2.6,1.8,0.6,0.468,0.186,0.818,10.8,0.170,1985-86
2,3,Magic Johnson,26,LAL,0,205,780,0.263,72,35.8,...,5.9,12.6,1.6,0.2,0.526,0.233,0.871,12.1,0.226,1985-86
3,4,Hakeem Olajuwon,23,HOU,0,193,780,0.247,68,36.3,...,11.5,2.0,2.0,3.4,0.526,NaN,0.645,9.5,0.186,1985-86
4,5,Kareem Abdul-Jabbar,38,LAL,0,135,780,0.173,79,33.3,...,6.1,3.5,0.8,1.6,0.564,0.000,0.765,10.8,0.197,1985-86

In [71]:
# new_header1986 = df1986.iloc[0]
# df1986 = df1986[1:]
# df1986.columns = new_header1986
# df1986.head()

In [72]:
df1985 = pd.read_csv("Data/sportsref_download1984-85.csv")
df1985.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Larry Bird,28,BOS,73,763,780,0.978,80,39.5,...,10.5,6.6,1.6,1.2,0.522,0.427,0.882,15.7,0.238,1984-85
1,2,Magic Johnson,25,LAL,1,264,780,0.338,77,36.1,...,6.2,12.6,1.5,0.3,0.561,0.189,0.843,12.7,0.220,1984-85
2,3,Moses Malone,29,PHI,0,218,780,0.279,79,37.4,...,13.1,1.6,0.8,1.6,0.469,0.000,0.815,11.9,0.193,1984-85
3,4,Kareem Abdul-Jabbar,37,LAL,0,206,780,0.264,79,33.3,...,7.9,3.2,0.8,2.1,0.599,0.000,0.732,11.2,0.204,1984-85
4,5,Terry Cummings,23,MIL,2,138,780,0.177,79,34.5,...,9.1,2.9,1.5,0.8,0.495,0.000,0.741,10.7,0.189,1984-85

In [73]:
# new_header1985 = df1985.iloc[0]
# df1985 = df1985[1:]
# df1985.columns = new_header1985
# df1985.head()

In [74]:
df1984 = pd.read_csv("Data/sportsref_download1983-84.csv")
df1984.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Larry Bird,27,BOS,52,652,760,0.858,79,38.3,...,10.1,6.6,1.8,0.9,0.492,0.247,0.888,13.6,0.215,1983-84
1,2,Bernard King,27,NYK,11,373,760,0.491,77,34.6,...,5.1,2.1,1.0,0.2,0.572,0.000,0.779,12.1,0.218,1983-84
2,3,Magic Johnson,24,LAL,5,305,760,0.401,67,38.3,...,7.3,13.1,2.2,0.7,0.565,0.207,0.810,10.2,0.191,1983-84
3,4,Kareem Abdul-Jabbar,36,LAL,3,153,760,0.201,80,32.8,...,7.3,2.6,0.7,1.8,0.578,0.000,0.723,8.9,0.163,1983-84
4,5,Isiah Thomas,22,DET,1,115,760,0.151,82,36.7,...,4.0,11.1,2.5,0.4,0.462,0.338,0.733,9.1,0.144,1983-84

In [75]:
# new_header1984 = df1984.iloc[0]
# df1984 = df1984[1:]
# df1984.columns = new_header1984
# # df1984.head()

In [76]:
df1983 = pd.read_csv("Data/sportsref_download1982-83.csv")
df1983.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Moses Malone,27,PHI,69,720.0,750,0.960,78,37.5,...,15.3,1.3,1.1,2.0,0.501,0.000,0.761,15.1,0.248,1982-83
1,2,Larry Bird,26,BOS,1,364.0,750,0.485,79,37.7,...,11.0,5.8,1.9,0.9,0.504,0.286,0.840,14.0,0.225,1982-83
2,3,Magic Johnson,23,LAL,2,304.5,750,0.406,79,36.8,...,8.6,10.5,2.2,0.6,0.548,0.000,0.800,12.5,0.207,1982-83
3,4,Sidney Moncrief,25,MIL,0,226.0,750,0.301,76,35.7,...,5.8,3.9,1.5,0.3,0.524,0.100,0.826,13.2,0.233,1982-83
4,5,Julius Erving,32,PHI,3,112.0,750,0.149,72,33.6,...,6.8,3.7,1.6,1.8,0.517,0.286,0.759,10.9,0.217,1982-83

In [77]:
# new_header1983 = df1983.iloc[0]
# df1983 = df1983[1:]
# df1983.columns = new_header1983
# df1983.head()

In [78]:
df1982 = pd.read_csv("Data/sportsref_download1981-82.csv")
df1982.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Moses Malone,26,HOU,40,507,690,0.735,81,42.0,...,14.7,1.8,0.9,1.5,0.519,0.000,0.762,15.4,0.218,1981-82
1,2,Larry Bird,25,BOS,20,406,690,0.588,77,38.0,...,10.9,5.8,1.9,0.9,0.503,0.212,0.863,12.5,0.205,1981-82
2,3,Julius Erving,31,PHI,1,203,690,0.294,81,34.4,...,6.9,3.9,2.0,1.7,0.546,0.273,0.763,13.3,0.229,1981-82
3,4,Robert Parish,28,BOS,4,131,690,0.190,80,31.7,...,10.8,1.8,0.9,2.4,0.542,NaN,0.710,10.0,0.190,1981-82
4,5,Gus Williams,28,SEA,2,115,690,0.167,80,36.0,...,3.1,6.9,2.2,0.5,0.486,0.225,0.734,10.2,0.171,1981-82

In [79]:
# new_header1982 = df1982.iloc[0]
# df1982 = df1982[1:]
# df1982.columns = new_header1982
# df1982.head()

In [80]:
df1981 = pd.read_csv("Data/sportsref_download1980-81.csv")
df1981.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Julius Erving,30,PHI,28,454,690,0.658,82,35.0,...,8.0,4.4,2.1,1.8,0.521,0.222,0.787,13.8,0.231,1980-81
1,2,Larry Bird,24,BOS,20,423,690,0.613,82,39.5,...,10.9,5.5,2.0,0.8,0.478,0.270,0.863,10.8,0.160,1980-81
2,3,Kareem Abdul-Jabbar,33,LAL,8,286,690,0.414,80,37.2,...,10.3,3.4,0.7,2.9,0.574,0.000,0.766,14.3,0.230,1980-81
3,4,Moses Malone,25,HOU,8,180,690,0.261,80,40.6,...,14.8,1.8,1.0,1.9,0.522,0.333,0.757,13.7,0.202,1980-81
4,5,George Gervin,28,SAS,1,83,690,0.120,82,33.7,...,5.1,3.2,1.1,0.7,0.492,0.257,0.826,10.5,0.182,1980-81

In [81]:
# new_header1981 = df1981.iloc[0]
# df1981 = df1981[1:]
# df1981.columns = new_header1981
# df1981.head()

In [82]:
df1980 = pd.read_csv("Data/sportsref_download1979-80.csv")
df1980.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Kareem Abdul-Jabbar,32,LAL,147.0,147.0,221,0.665,82,38.3,...,10.8,4.5,1.0,3.4,0.604,0.000,0.765,14.8,0.227,1979-80
1,2,Julius Erving,29,PHI,31.5,31.5,221,0.143,78,36.1,...,7.4,4.6,2.2,1.8,0.519,0.200,0.787,12.5,0.213,1979-80
2,3,George Gervin,27,SAS,19.0,19.0,221,0.086,78,37.6,...,5.2,2.6,1.4,1.0,0.528,0.314,0.852,10.6,0.173,1979-80
3,4,Larry Bird,23,BOS,15.0,15.0,221,0.068,82,36.0,...,10.4,4.5,1.7,0.6,0.474,0.406,0.836,11.2,0.182,1979-80
4,5T,Tiny Archibald,31,BOS,2.0,2.0,221,0.009,80,35.8,...,2.5,8.4,1.3,0.1,0.482,0.222,0.830,8.9,0.148,1979-80

In [83]:
# new_header1980 = df1980.iloc[0]
# df1980 = df1980[1:]
# df1980.columns = new_header1980
# df1980.head()

In [84]:
# frames = [df2018,df2017,df2016,df2015,df2014,df2013,df2012,df2011,df2010,
#           df2009,df2008,df2007,df2006,df2005,df2004,df2003,df2002,df2001,df2000,df1999,
#           df1998,df1997,df1996,df1995,df1994,df1993,df1992,df1991,df1990,
#           df1989,df1988,df1987,df1986,df1985,df1984,df1983,df1982,df1981,df1980]
# final_df = df2019.append(frames,sort=False)

In [85]:
df1 = df2019.concat(df2018,ignore_index=True, sort=False)
df2019

AttributeError: 'DataFrame' object has no attribute 'concat'